@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main {
	background-color: rgb(245, 245, 180);
	color: black;
	font-size: 16px;
	font-weight: normal;
	Font-family: 'Roboto', sans-serif;
}

.info {
	display: flex;
	margin-bottom: 20px;
}

.info-text {
	margin-left: 40px;
}

.bg-yellow {
	background: #fff9dc;
}

.bg-green {
	background: #e5ffe7;
}

.bg-red {
	background: #ffe5e5;
}

.card {
	padding: 15px 20px;
	margin-bottom: 20px;
	border-radius: 20px;
}

.box-model > div {
	float: left;
	background-color: #000;
	height: 200px;
	width: 25%;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color :blue;
}

a:visited {
	color :grey
}
.container {
	max-width: 1000px;
	margin: auto;
}

/* .videos {
	background: red;
	margin: 5px;
	padding: 15px 40px;
	border: 5px solid green;
	border-bottom-style: dotted;
} */

.avatar {
	width: 200px;
	border-radius: 30px;
	box-shadow: 4px 4px 14px #000;
}

.info p {
	color: #86898f;
	margin: 0;
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
/* text-transform: uppercase; */
/* letter-spacing: 15px; */
/* word-spacing:42px; */
}

.list {
	padding: 0px 20px;
	list-style: none;
}

.list li {
	color: #86898f;
	margin-bottom: 10px;
}

.table {
	width: 100%;
}

.table td {
	padding-bottom: 10px;
}

.table td:nth-child(2), 
.table td:nth-child(3) {
	color: #86898f;
}

.contact h2 {
text-align: center;
}

.form-group label {
	display: block;
	font-size: 14px;
	color: #86898f;
}
.form-group input,
.form-group textarea {
	width: 100%;
	box-sizing: border-box;
	border: none;
	background:transparent;
	border-bottom: 1px solid;
	color: #000;
	padding: 15px 0 10px;
	outline: none;
	font-family:inherit;
}

.row {
	display: flex;
	margin-bottom: 20px;
}

.row > .form-group {
	width: 50%;
	margin-right: 20px;
}

.row > .form-group:last-child {
	margin-right: 0px;
}

.button {
	background: #000;
	color: #fff;
	padding: 15px 20px;
	border: none;
	font-family: inherit;
	cursor: pointer;
}

.button:hover {
	opacity: 0.8
}
